html {
    box-sizing: border-box;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    }

body {
    background-color: rgb(249, 249, 249);
}

/* Masthead  */
/* nav {
    width: 100%;
    background-color: white;
    border-top: 1px solid rgba(184, 189, 185, 0.5);
    border-bottom: 1px solid rgba(184, 189, 185, 0.5);
    padding: 20px;
} */

/*Custom styles*/

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }
  
  
.buttonspacing {
    margin-bottom: 20px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
#navbar li {
    float: left;
  }
  
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: white;
    color: black;
  }

#logo {
    width: 350px;
    height: 83px;
    margin: 14px 0px 14px 0px;
    padding: 10px;
}   


a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(116, 192, 191);
}

/* content */
section {
    margin: 0px 40px 0px 40px;

}

.bio {
    margin-top: 40px;
}

h2 {
    font-weight: 700;
    font-size: 2em;
}

.date {
    font-size: 1em;
    color: rgb(116, 192, 191);
}

.news {
    margin-top: 50px;
}

footer {
  font-size: 15px;
  background: rgb(30, 30, 30);
  padding: 10px;
  color: lightgrey;
}

footer ul {
    margin: 0;
}

footer a {
  color: lightgrey;
}

footer a:hover {
  color: white;
}

@media screen and (max-width: 460px) {
    li {
        width: 100% !important;
        float:none !important;
    }
}
