* {
    font-family: 'Source Sans Pro', sans-serif;
    }

body {
    background-color: rgb(249, 249, 249);
}

/* Navbar */

.navbar-dark .navbar-nav .nav-link {
    color: rgb(179, 220, 222);
    font-family: Raleway, sans-serif;
}

/* Landing cards */

.green-top {
  background-color: white !important;
  border-top: 4px solid rgb(87, 181, 177);
  padding: 20px;
}

a:hover{
    color: rgb(116, 192, 191);
}

h2 {
    font-weight: 700;
    font-size: 2em;
}

.date {
    font-size: 1em;
    color: rgb(116, 192, 191);
}

/*Jumbotron */

#contact {
  padding: 5%;
  background-color:#57b5b136;
}

.btn-primary {
    background-color: #58b5b1;
    border-color: #58b5b1;
    margin: 20px 0px 0px;
}

.btn-primary:hover {
    background-color: #138496;
    border-color: #117a8b;
}

/*Custom styles*/

#news {
    margin: 20px 0px 20px 0px;
}

footer {
  font-size: 15px;
  background: #3f535d;
  padding: 10px;
  color: rgb(179, 220, 222);
}

footer ul {
    margin: 0;
}

footer a {
  color: rgb(179, 220, 222);
}

footer a:hover {
  opacity: 95%;
}



/* Media queries 
@media {
  
}